.wrapper {
  display: flex;
  align-items: stretch;
}

.sidebar {
  width: 250px; /* Ancho cuando el sidebar está visible */
  transition: width 0.5s ease;
  position: sticky; /* Mantiene el sidebar visible al hacer scroll */
  top: 0; /* Se adhiere al principio de la ventana */
  height: 100vh; /* Asegura que el sidebar ocupe toda la altura de la pantalla */
 
  background-color: #f8f9fa; /* Fondo opcional */
}

.sidebar.hide {
  width: 0; /* Ancho cuando el sidebar está oculto */
  overflow: hidden;
  display: none; /* Oculta el sidebar completamente */
}

.sidebar.show {
  width: 250px; /* Ancho cuando el sidebar está visible */
  display: block; /* Asegúrate de que el sidebar esté visible */
}

/* Asegura el comportamiento del sidebar en pantallas pequeñas */
@media (max-width: 768px) {
  .sidebar {
    width: 250px; /* Ancho para pantallas pequeñas */
  }

  .sidebar.hide {
    display: none; /* Oculta el sidebar en pantallas pequeñas */
  }

  .sidebar.show {
    display: block; /* Muestra el sidebar en pantallas pequeñas */
  }
}


