.icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px; /* Tamaño del círculo */
    height: 36px;
    border-radius: 50%; /* Hace que el fondo sea redondo */
    color: white;
    border: none; /* Elimina el borde */
    box-shadow: none; /* Elimina cualquier sombra del botón */ /* Color del ícono */
  }
  
  .icon-delete {
    background-color: #dc3545; /* Rojo para eliminar */
  }
  
  .icon-history {
    background-color: #007bff; /* Azul para historial */
  }
  
  .icon-edit {
    background-color: #ffc107; /* Amarillo para editar */
  }
  
  .icon-wrapper .fa-icon {
    font-size: 16px; /* Tamaño del ícono */
  }
  


/* Estilo personalizado para el contenedor del select */
.custom-select-container select {
  padding: 2px 15px;
  border-radius: 5px;
  background-color: #fff;
  background-position: right 5px center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Opcional: ajuste para el label */
.dataTables_length label {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre texto y select */
}


/* Estilos para hacer zoom en la imagen */
.table img {
  transition: transform 0.3s ease; /* Transición suave */
}

.table img:hover {
  transform: scale(2.5); /* Escala la imagen un 50% más grande */
  z-index: 10; /* Asegúrate de que la imagen se superponga a otros elementos */
  position: relative; /* Posiciona la imagen para superposición */
}




